{{ block "add_product" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="style.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	</head>
	<body>
		{{ template "generic-header" }}
		<form
			hx-post="/api/v1/product/add"
			hx-swap="none"
		>
			<input type="text" name="name" placeholder="name">
			<input type="number" name="price" placeholder="2">
			<input type="number" name="count" placeholder="1">
			<button>send</button>
		</form>	
	</body>
</html>

{{ end }}
