{{ block "search" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link href="style.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	</head>
	<body>
		{{ template "generic-header" . }}
		<div class="col">
			<h1> Search </h1>
			<div id="search-ticket-item" class="ticket-item">
				{{ template "search-item" . }}
			</div>
		</div>
		<div class="col" id="search">
			<h1> Search </h1>
			<div id="search-results">
				{{ template "search-result" . }}
			</div>
		</div>
	</body>
</html>
<script src="main.js"> </script>
{{ end }}

{{ block "search-item" . }}
	<form id="search-item-form">
		<input name="id" class="search-field" id="search-id" type="number" placeholder="id"></input>
		<input name="name" class="search-field" id="search-name" placeholder="name"
			hx-get="/api/v1/htmx/search/product"
			hx-trigger="keyup delay:500"
			hx-target="#search-results"
		></input>
		<input name="price" class="search-field" id="search-price" type="number" placeholder="0"></input>
		<input name="count" class="search-field" id="search-total" type="number" placeholder="0"></input>
		<button></button>
	</form>
{{ end }}

{{ block "search-result" . }}
	{{ range .Matches }}
	<div class="search-result">
		<div> {{.Product.Name }} </div>
	</div>
	{{ end }}
{{ end }}
