.col h1{
	width: 100%;
	display: block;
	text-align: center;
}

.col#search {
	width: 25%
}

.col{
	width: 75%;
	display: block;
	justify-items: center;
	justify-content: center;
	text-align: center;
}

#new-item-form{
	width: 100%;
}

#new-ticket-item{
	display: flex;
}

#new-price{
	width: 6ch;
}

#new-id{
	width: 8ch;
}

#new-total{
	width: 4ch;
}

.search-result{
	display: flex;
}
